<p id="notice"><%= notice %></p>

<p>
  <strong>Open:</strong>
  <%= @turn_table.open %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @turn_table.machine_id %>
</p>

<%= link_to 'Edit', edit_turn_table_path(@turn_table) %> |
<%= link_to 'Back', turn_tables_path %>
