<p id="notice"><%= notice %></p>

<p>
  <strong>Empty:</strong>
  <%= @section.empty %>
</p>

<p>
  <strong>Turn table:</strong>
  <%= @section.turn_table_id %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
