<p id="notice"><%= notice %></p>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Positions</th>
      <th>Current position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= link_to machine.name, machine %></td>
        <td><%= machine.positions %></td>
        <td><%= machine.current_position %></td>
        <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
        <td><%= link_to 'Destroy', machine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Machine', new_machine_path %>
