<p id="notice"><%= notice %></p>

<h2>
  <%= @machine.name  %>
</h2>

<table class="table table-striped">
  <td>
    <table>
      <% @machine.turn_tables.each do |turn_table| %>
        <tr>
          <% turn_table.sections.each_with_index do |section, index| %>
            <% if section.empty? %>
              <td class="section-table"><%= link_to '+', new_machine_article_path(@machine, section_id: section.id) %></td>
            <% else %>
              <td class="section-table">
              <% if section.article.expired? %>
                <p class='expired'> <%= link_to "#{section.article.name}", remove_machine_article_path(Machine.first, section.article.id), :method => :delete %> </p>
              <% else %>
                <p> <%= link_to "#{section.article.name}", remove_machine_article_path(Machine.first, section.article.id), :method => :delete %> </p>
              <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </table>
    </td>
</table>

<p>
  <%= link_to 'Create turntable', machine_turn_tables_path(@machine, turn_table: {machine_id: @machine.id}), :method => :post, class: 'btn btn-info' %>
  <%= link_to 'Configure machine', edit_machine_path(@machine), class: 'btn btn-default' %>
</p>