<p id="notice"><%= notice %></p>

<p class='title'>
  <%= @machine.name  %>
</p>

<table class="machine-table">
  <td>
    <table>
      <% @machine.turn_tables.each do |turn_table| %>
        <tr>
          <% turn_table.sections.each_with_index do |section, index| %>
            <% css_class = 'active' if @machine.current_position == index + 1 %>
            <% if section.empty? %>
              <td class="section-table <%= css_class %>"><%= link_to '+', new_article_path(section_id: section.id) %></td>
            <% else %>
              <td class="section-table <%= css_class %>"><%= section.article.name %></td>
            <% end %>
          <% end %>
          <td class="price">
            <% if turn_table.sections[(@machine.current_position-1)].empty? %>
              n/a
            <% else %>
              <%= number_with_precision(turn_table.sections[(@machine.current_position-1)].article.price/100.0, precision: 2) %>
            <% end %>
          </td>
          <% if turn_table.sections[(@machine.current_position-1)].empty? %>
            <td class="section-table">
          <% elsif turn_table.sections[(@machine.current_position-1)].article.expired? %>
            <td class="expired">
          <% else %>
            <td class="fine">
          <% end %>
          </td>
        </tr>
      <% end %>
      </table>
    </td>
  <td>
    <table>
      <td class="turn">
        <%= link_to "TURN", turn_machine_path(@machine), :method => :put %>
      </td>
    </table>
  </td>
</table>

<p>
  <%= link_to 'Create turntable', turn_tables_path(turn_table: {machine_id: @machine.id}), :method => :post %>
</p>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
