<p id="notice"><%= notice %></p>

<p class='title'>
  <%= 'Best Ice Cream in Town'  %>
</p>

<!-- <p>
  <strong>Positions:</strong>
  <%= @machine.positions %>
</p> -->

<!-- <p>
  <strong>Current position:</strong>
  <%= @machine.current_position %>
</p> -->

<table class="machine-table">
  <td>
    <table>
      <% @machine.turn_tables.each do |turn_table| %>
        <tr>
          <% turn_table.sections.each_with_index do |section, index| %>
            <% if index + 1 == @machine.current_position %>
              <td class="section-table", style='background-color: lightblue'><%= "Ice Cream" %></td>
            <% else %>
              <td class="section-table"><%= "Ice Cream" %></td>
            <% end %>
          <% end %>
          <td class="price"> $ Price $ </td>
        </tr>
      <% end %>
      </table>
    </td>
  <td>
    <table>
      <td class="turn">
        <%= link_to "TURN", turn_machine_path(@machine), :method => :put %>
      </td>
    </table>
  </td>
</table>

<p>
  <%= link_to 'Create turntable', turn_tables_path(turn_table: {machine_id: @machine.id}), :method => :post %>
</p>

<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
