<p id="notice"><%= notice %></p>

<h2>
  <%= @machine.name  %>
</h2>

<table class="table table-bordered">
  <td>
    <table>
      <% @machine.turn_tables.each do |turn_table| %>
        <tr>
          <% turn_table.sections.each_with_index do |section, index| %>
            <% css_class = 'active' if @machine.current_position == index + 1 %>
            <% if section.empty? %>
              <td class="section-table <%= css_class %>"><%= link_to '+', new_machine_article_path(@machine, section_id: section.id) %></td>
            <% else %>
              <td class="col-xs-1 text-center section-table <%= css_class %>">
              <% if section.article.expired? %>
                <p class='expired'> <%= section.article.name %> </p>
              <% else %>
                <p> <%= section.article.name %>
                </p>
              <% end %>
              </td>
            <% end %>
          <% end %>
          <td class="price">
            <% if turn_table.sections[(@machine.current_position-1)].empty? %>
              n/a
            <% else %>
              <%= number_with_precision(turn_table.sections[(@machine.current_position-1)].article.price/100.0, precision: 2) %>
            <% end %>
          </td>
          <% if turn_table.sections[(@machine.current_position-1)].empty? %>
            <td class="section-table">
          <% elsif turn_table.sections[(@machine.current_position-1)].article.expired? %>
            <td class="expired-active">
          <% else %>
            <td class="fine">
              <div>
                <%= link_to 'Purchase', machine_article_path(@machine, turn_table.sections[(@machine.current_position-1)].article), :method => :delete %>
              </div>
          <% end %>
          </td>
        </tr>
      <% end %>
      </table>
    </td>
  <td>
    <table>
      <td class="turn">
        <%= link_to "TURN", turn_machine_path(@machine), :method => :put %>
      </td>
    </table>
  </td>
</table>

<p>
  <%= link_to 'Create turntable', machine_turn_tables_path(@machine, turn_table: {machine_id: @machine.id}), :method => :post, class: 'btn btn-info' %>
  <%= link_to 'Maschine konfigurieren', edit_machine_path(@machine), class: 'btn btn-default' %>
</p>

